.sticky-top {
    background-color: #4682b4;
    min-width: 100%;
}

body {
    background-color: #d3d3d3;
}

#hidden {
    display: none;
}

button {
    border-radius: 3px;
    border-width: 3px;
}

#whiteBoard { 
    height: 500px;
    width: 500px;
    background-color: #fff;
    color: #00000000;
    box-shadow: 0px 0px 10px 3px #0e0e0e35;
    line-height: 2px;
    letter-spacing: 0px;
    margin: auto;
    overflow: hidden;
}

.pixel {
    position: relative;
    padding: 5px;
    margin: -1px;
    border: none;
    outline: none;
    display: inline-block;
}

.containerpro {
    height: 500px;
    width: 500px;
    margin: auto;
    overflow: hidden;
}

#containment{
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 5px;
}

#whiteBoard{
    scale: 1;
}

@media (max-width:600px) {
    #whiteBoard{
        scale: .8;
    }    
}


@media (max-width:500px) {
    #whiteBoard{
        scale: .7;
    }    
}


@media (max-width:400px) {
    #whiteBoard{
        scale: .6;
    }    
}


@media (max-width:300px) {
    #whiteBoard{
        scale: .5;
    }    
}